.footer-2 {
  background-color: #131313;
  color: rgb(255,255,255);
  /*position: absolute;*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .footer-2 p {
    text-align: center;
  }
}

